[submodule "external/jsoncpp"]
	path = external/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
	ignore = dirty
[submodule "external/beast"]
	path = external/beast
	url = https://github.com/vinniefalco/Beast.git
[submodule "external/reshade"]
	path = external/reshade
	url = https://github.com/ZCube/reshade
[submodule "external/zlib"]
	path = external/zlib
	url = https://github.com/madler/zlib.git
[submodule "external/boost"]
	path = external/boost
	url = https://github.com/ZCube/boost-cmake.git
[submodule "external/v8pp"]
	path = external/v8pp
	url = https://github.com/pmed/v8pp.git
[submodule "prebuilt/v8"]
	path = prebuilt/v8
	url = https://github.com/ZCube/v8-bin.git
[submodule "external/libressl"]
	path = external/libressl
	url = https://github.com/libressl-portable/portable.git
