*.7z
*.aps
*.orig
*.pdb
*.user
*.user**
**/bin/*
**/build/*
**/lib/*
/_conanfile64.txt
/_conanfile86.txt
/test/config.bat
bin/*
build/*
dist_cef/*
dist/*
lib/*
prebuilt/*
src/awio/Resource.rc
src/awio/version.h
src/tag
src/version
textures/out/*
