[submodule "external/jsoncpp"]
	path = external/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
	ignore = dirty
[submodule "external/beast"]
	path = external/beast
	url = https://github.com/vinniefalco/Beast.git
[submodule "external/reshade"]
	path = external/reshade
	url = https://github.com/ZCube/reshade
